
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box box-danger" style="min-height: 719px;">
            <div class="box-header with-border">
                <h3 class="box-title" ng-bind="PokemonController.pokemon.name"></h3>
            </div>
            <form role="form">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2"></div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <img ng-src="{{PokemonController.pokemon.image}}">
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <span style="font-size: 18px" class="label bg-{{PokemonController.pokemon.type1}}" ng-bind="PokemonController.pokemon.type1"></span>
                                    <span style="font-size: 18px" class="label bg-{{PokemonController.pokemon.type2}}" ng-bind="PokemonController.pokemon.type2"></span>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-xs-12 col-md-6">
                                    <strong style="font-size: 18px">HP: </strong>
                                    <span style="font-size: 18px" ng-bind="PokemonController.pokemon.hp"></span>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-xs-12 col-md-6">
                                    <strong style="font-size: 18px">Ataque: </strong>
                                    <span style="font-size: 18px" ng-bind="PokemonController.pokemon.attack"></span>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-xs-12 col-md-6">
                                    <strong style="font-size: 18px">Defesa: </strong>
                                    <span style="font-size: 18px" ng-bind="PokemonController.pokemon.defense"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /.content -->