<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box box-danger" style="min-height: 719px;">

            <form role="form">
                <div class="box-body">
                    <div class="form-group">
                        <input type="text" ng-model="PokemonsController.filtro" class="form-control" placeholder="Pesquisar...">
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <th>
                                Número
                            </th>
                            <th>
                                Imagem
                            </th>
                            <th>
                                Nome
                            </th>
                            <th>
                                Tipo
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in PokemonsController.pokemons|filter: PokemonsController.filtro">
                                <td>
                                    <a href="#!/details/{{item.id}}">
                                        <strong>
                                            #{{item.id}}
                                        </strong>
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/details/{{item.id}}">
                                        <img ng-src="{{item.image}}" width="60px" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/details/{{item.id}}">
                                        <span ng-bind="item.name"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/details/{{item.id}}">
                                        <span class="label bg-{{item.type1}}" ng-bind="item.type1"></span>
                                        <span class="label bg-{{item.type2}}" ng-bind="item.type2"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /.content -->