<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Pokedex
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Pokedex</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box box-danger" style="min-height: 719px;">
            <div class="box-header with-border">
                <h3 class="box-title">Listagem</h3>
            </div>
            <form role="form">
                <div class="box-body">
                    <div class="form-group">
                        <input type="text" ng-model="PokemonsController.filtro" class="form-control" placeholder="Pesquisar...">
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <th>
                                Imagem
                            </th>
                            <th>
                                Nome
                            </th>
                            <th>
                                Tipo
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in PokemonsController.pokemons|filter: PokemonsController.filtro">
                                <td>
                                    <a href="/#!/details/{{item.id}}">
                                        <img ng-src="{{item.image}}" width="60px" alt="">
                                    </a>
                                </td>
                                <td>
                                    <span ng-bind="item.name"></span>
                                </td>
                                <td>
                                    <span class="label bg-{{item.type1}}" ng-bind="item.type1"></span>
                                    <span class="label bg-{{item.type2}}" ng-bind="item.type2"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /.content -->